<!---

<form action="./" method="post" enctype="multipart/form-data">
	<div class="file">
		<label class="file-label">
			<input class="file-input" type="file" name="image" id="image" accept="image/*">
			<span class="file-cta">
				<span class="file-icon">
					<i class="fas fa-upload"></i>
				</span>
			</span>
			<span class="file-label">Choose a file...</span>
		</div>
	</div>
	<div class="control">
		<input class="button is-primary" type="submit" value="Upload Image" name="submit">
	</div>
</form>
-->

{% if notifications %}
	<div class="notification">
	  <button class="delete"></button>
	  {% for notification in notifications %}
	  	<p>{{ notification }}</p>
	  {% endfor %}
	</div>
{% endif %}

<form action="./" method="post" enctype="multipart/form-data">
	<div class="field">
	  <div class="file is-primary is-boxed is-large is-centered">
	    <label class="file-label">
	      <input class="file-input" type="file" name="image" accept="image/*" onchange="javascript:this.form.submit();">
	      <span class="file-cta">
	        <span class="file-icon">
	          <i class="fas fa-cloud-upload-alt"></i>
	        </span>
	        <span class="file-label">
	          Upload an image…
	        </span>
	      </span>
	    </label>
	  </div>
	</div>
	<div class="control is-sr-only">
		<input type="submit" class="button is-primary">Submit</button>
	</div>
</form>