<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>



<section class="hero is-info is-bold">
  <div class="hero-body">
    <div class="container">
    	<div class="columns">
    		<div class="column is-narrow">
		    	<figure class="image is-64x64">
				  <img src="images/logo.png" width="64px" height="64px">
				</figure>
    		</div>
    		<div class="column">
			      <h1 class="title">
			      	Hot Dog/Not Hot Dog
			      </h1>
			      <h2 class="subtitle">
			        See if an image is a hot dog, or not a hot dog.
			      </h2>
    		</div>
    	</div>
    </div>
  </div>
</section>
<section class="section">

<div class="container">
	{% if image %}
		{% include 'image.twig' with image only %}
	{% endif %}
	{% include 'form.twig' %}
</div>
</section>
</body>
</html>